body {
  font-size: 11pt;
  font-family: 'Open Sans';
  margin: 0 0 0 0;
}

p {
  margin: 0.5em auto;
}

a, ins{
  text-decoration: none;
}

#wrap {
  width: 96vw;
  margin: 2vw auto;
}


#col1 {
  float: left;
  width: 48vw
}

#col2 {
  float: right;
  width: 48vw;
}

#editor_div {
  height: 50vh;
}

.CodeMirror {
  height: 100%;
  font-family: 'Droid Sans Mono', monospace;
}

#terminal {
  height: 50vh;
  padding: 0;
}

.terminal {
  font-family: 'Droid Sans Mono', monospace;
}

#PYB {
  position: absolute;
  right: 10%;
}

.PYB {
  height: 30vh;
  position: absolute;
}

#base {
  z-index: 0;
}

.LED {
  display: none;
  z-index: 1;
}

#button_layer {
  z-index: 2;
}

.nav {
  display: block;
}

.navbar-container {
  padding-bottom: 1px;
  background-color: #2b2728; }

.navbar {
  background-color: #2b2728;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 820px; }
  .navbar a {
    color: white; }
    .navbar a:hover {
      color: #d43738; }
  .navbar .navbar-brand {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold; }
    .navbar .navbar-brand img {
      vertical-align: middle; }
  .navbar .navbar-nav {
    float: right;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold; }
